@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Убираем маркеры */
li {
    list-style-type: none;
}

button,
a {
    cursor: pointer;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #232323;
}

.am_content {
    width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.am_btn {
    display: block;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.am_btn_primary {
    background-color: #048EA7;
    color: #fff;
}

.am_btn_outline_primary {
    color: #232323;
    background-color: #fff;
    border: 2px solid #048EA7;
}

.am-btn-white {
    background-color: #fff;
    color: #0B8298;
}

.mr-10 {
    margin-right: 10px;
}

.am_w-40 {
    width: 40%;
}

.am_w-60 {
    width: 60%;
}

.am_w-100 {
    width: 100%;
}

.am_w-50 {
    width: 50%;
}

.am_d-flex {
    display: flex;
}

.px-50 {
    padding: 0 50px;
}

.am_h2 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 42px;
}

.am_h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.am_more-link {
    color: #048EA7;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.am_more-link img {
    margin-left: 8px;
}

.am_section-padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.am_bg-grey {
    background: #F6F6F6;
}

.w-max-100 {
    max-width: 100%;
}

.am_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.am_grey-badge {
    background-color: #F2F4F8;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 10px;
}

.am_main-title {
    font-size: 40px;
    position: relative;
    display: inline;
    z-index: 1;
}

.am_main-title:after {
    position: absolute;
    content: "";
    width: 70%;
    height: 50%;
    z-index: -1;
    right: -16px;
    bottom: -4px;
    background-color: #048EA7;
}

.block-second {
    order: 2;
}

.am_max-width-100 {
    max-width: 100%;
}

.gap-30 {
    gap: 30px;
}

.flex-wrap {
    flex-wrap: wrap;
}


.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-32 {
    padding: 32px 0;
}

.h2_underlined {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    position: relative;
    padding-bottom: 16px;
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
}

.h2_underlined:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #048EA7;
    bottom: 0;
    left: 0;
}

.h3_underlined {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    position: relative;
    padding-bottom: 16px;
    display: inline-block;
}

.h4_underlined:before,
.h3_underlined:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #048EA7;
    bottom: 0;
    left: 0;
}

.h4_underlined {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    position: relative;
    padding-bottom: 16px;
    display: block;
}

@media screen and (max-width: 1200px) {
    .am_content {
        width: calc(100% - 100px);
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .w-tablet-100 {
        width: 100% !important;
    }

    .am_section-padding {
        padding-top: 48px;
        padding-bottom: 48px;
    }

}

@media screen and (max-width: 1023px) {
    .am_content {
        width: calc(100% - 60px);
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .flex-mobile-wrap {
        flex-wrap: wrap;
    }

    .w-mobile-100 {
        width: 100% !important;
    }

    .block-second-for-mobile {
        order: 2;
    }

    .am_section-padding {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .h4_underlined {
        font-size: 18px;
    }

}

.am_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.am_logo-block a,
.am_logo-block {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    color: #048EA7;
    text-decoration: none;
}

.am_logo-block {
    padding-right: 24px;
}

.am_logo-block img {
    height: 32px;
}

.am_menu-block {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.am_menu-block .menu__link {
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    color: #232323;
    text-decoration: none;
    white-space: nowrap;
}


.am_header-mobile-menu {
    display: none;
}

.am_menu-item {
    position: relative;
}

.menu__submenu {
    position: absolute;
    padding: 8px 16px;
    top: 32px;
    left: 16px;
    background-color: #fff;
    border: 3px solid #F6F6F6;
    border-radius: 10px;
    display: none;
    z-index: 10;
}


.menu__submenu--level-2 .menu__item {
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
}

.menu__submenu--level-2 .menu__item:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F6F6F6;
}

.menu__item--has-submenu {
    position: relative;
    padding-right: 16px;
}

.menu__item--has-submenu:before {
    position: absolute;
    content: "";
    width: 32px;
    height: 26px;
    right: 0;
    top: 0;
    background-image: url("img/menu-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: 0.3s;
}

.menu__item--has-submenu.active:before {
    transform: rotate(180deg);
    transition: 0.3s;
}

.menu__item--has-submenu.active .menu__submenu {
    display: block;
}


.menu__link.am_sub-link {
    display: flex;
    align-items: center;
}

.am_language-btn {
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 4px;
    color: #232323;
    text-decoration: none;
    border: none;
}

.am_language-btn.active {
    border: 2px solid #048EA7;
    font-weight: 700;
    color: #048EA7;
    border-radius: 4px;
}

@media screen and (max-width: 1200px) {
    .am_logo-part {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .am_language-wrap {
        display: none;
    }

    .am_language-btn {
        line-height: 30px;
        font-size: 20px;
        padding: 6px 8px;
    }

    .menu__submenu--level-2 .menu__item {
        padding-bottom: 4px;
        padding-top: 4px;
    }


    .menu__item--has-submenu:before {
        top: 10px;
    }
}

/******* HEADER ******/

.am_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}


.am_header-burger {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.am_header-btn-block {
    display: flex;
}

@media screen and (max-width: 1200px) {
    .am_logo-part {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .am_header-mobile-menu {
        display: block;
    }

    .am_menu-block {
        display: none;
    }

    .am_menu-block-mobile {
        padding: 16px 30px;
    }

    .am_header-burger-menu {
        position: fixed;
        left: -100vw;
        width: 100vw;
        top: 0;
        height: 100vh;
        overflow: auto;
        transition: 0.6s;
        background: rgba(0, 0, 0, 0.4);
        z-index: 100;
    }

    .am_header-burger-menu.open {
        left: 0;
        transition: 0.6s;
        z-index: 10;
    }

    .am_header-burger-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 30px;
    }

    .am_header-burger-close {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .am_header-burger-close img {
        width: 24px;
        height: 24px;
    }

    .am_header-burger-menu-wrapper {
        background: #FFFFFF;
        height: 100%;
        width: 80%;
        max-width: 380px;
    }

    .menu__link {
        padding: 8px 0;
        font-size: 20px;
        line-height: 30px;
        display: block;
        color: #232323;
        text-decoration: none;
    }

    .menu__link.active {
        color: #048EA7;
    }

    .menu__link:hover {
        color: #048EA7;
    }


    .am_header {
        justify-content: start;
    }

    .am_header-btn-block {
        margin-left: auto;
        margin-right: 10px;
    }


    .menu__submenu {
        position: static;
        border: none;
        box-shadow: none;
    }

    .menu__submenu--level-2 .menu__item:after {
        display: none;
    }

}

/***** END HEADER ******/
/****** FOOTER ******/

.am_footer {
    background-color: #232323;
}

.am_footer-text {
    width: 50%;
}

.am_footer-desc {
    padding-top: 18px;
    color: #fff;
}

.am_footer-block {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.am_footer-link {
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    text-wrap: none;
    display: block;

}

.am_copyright {
    border-top: 1px solid #FFFFFF;
    padding: 24px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .am_footer-block {
        flex-wrap: wrap;
        gap: 40px;
    }

    .am_footer-text {
        width: 100%;
    }

    .am_footer-links {
        width: 40%;
    }
}

@media screen and (max-width: 1023px) {
    .am_footer-block {
        gap: 40px;
    }
}

/*********** END FOOTER ********/